.title-label {
    -fx-font: bold 24pt "Sans";
    -fx-effect: dropshadow(one-pass-box, black, 4, 0.0, 2, 0);
}

.license-label {
    -fx-font: 8pt "Monospace";
}

.board {
    -fx-background-color: #bbada0;
}

.cell-view, .empty-cell-view {
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.empty-cell-view {
    -fx-background-color: #ccc0b3;
}

.cell-view.glow {
    -fx-effect: dropshadow(one-pass-box, gold, 32, 0.0, 0, 0);
}

.cell-view-label {
    -fx-font: bold 18 Monospace;
    -fx-fill: #f9f6f2;
}

.cell-view-label.dark-text {
    -fx-fill: #776e65;
}

.overlay {
    -fx-background-color: rgba(256,256,256, 0.7);
}

.overlay .label {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.overlay .title {
    -fx-font-weight: bold;
    -fx-font-size: 72;
    -fx-effect: dropshadow(one-pass-box, black, 2, 0.0, 0, 0);
}

.notification {
    -fx-background-color: rgba(17, 26, 207, 0.5);
}

.notification .label{
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-font-family: "Monospace";
    -fx-text-fill: white;
}

.notification.warning {
    -fx-background-color: #d6be37be;
}

.notification.error {
    -fx-background-color: #d64937be;
}