.license-label {
    -fx-font: 8pt "Monospace";
}

.board {
    -fx-background-color: #bbada0;
}

.cell-view, .empty-cell-view {
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.empty-cell-view {
    -fx-background-color: #ccc0b3;
}

.cell-view.glow {
    /* TODO: Needs cleaning up */
    -fx-effect: dropshadow(one-pass-box, gold, 10, 0.0, 0, 0);
}

.cell-view-label {
    -fx-fill: #fff;
}

.cell-view-label.dark-text {
    -fx-fill: #000;
}