.welcome-button-title, .title-label {
    -fx-font: bold 24pt "Sans";
    -fx-effect: dropshadow(one-pass-box, black, 4, 0.0, 2, 0);
}

.license-label {
    -fx-font: 8pt "Monospace";
}

.board {
    -fx-background-color: #bbada0;
}

.cell-view, .empty-cell-view {
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}

.empty-cell-view {
    -fx-background-color: #ccc0b3;
}